@import 'components/bootstrap.scss';
@import 'components/dropdowns.scss';

@import 'layouts/footer.scss';
@import 'layouts/header.scss';

@import 'pages/home.scss';
@import 'pages/menu.scss';
@import 'pages/contact.scss';
@import 'pages/booking.scss';

@import 'form/inscription.scss';
@import 'form/connexion.scss'
