RewriteEngine On

RewriteRule ^Accueil/$ Projet_marjo/QuaiAntique/index.php?controller=home&action=show

RewriteRule ^Lacarte/$ /index.php?controller=menu&action=show

RewriteRule ^Contact/$ /index.php?controller=contact&action=show