RewriteEngine On

RewriteRule ^Accueil/$ /index.php?controller=home&action=show&src=1

RewriteRule ^Lacarte/$ /index.php?controller=menu&action=show&id=1

RewriteRule ^Contact/$ /index.php?controller=contact&action=show&id=1