form.booking{
    .block{
        .groups{
            margin: auto;

            .form-group{
                margin-bottom: 15%;

                label, span{
                    color: var(--primary);
                }
 
            }

            .allergies, .days{
                text-align: center;

                span{
                    margin-bottom: 3%;
                }
            }

            .button{
                text-align: center;
            }
        }
    }
}