
section.contact{
    
    .titre{
        padding-bottom: 5%;
    }

    .container{
        margin-bottom: 5%;
        
        form{
            width: 50%;
            margin-left: auto;
            margin-right: auto;

            label{
                color: #fff;
            }

            
        }
    }
    
}